
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    margin-top: 30px;
    font-size: x-large;
    text-align: center;
}

.function{
    margin-left: 10%;
    font-style: oblique;
    font-weight: bold;
    font-size: large;
}
.jh_calc_button{
    margin-top: 30px;
    margin-left: 35%;
    min-height: 40px;
}
.result{
    margin-left: 10%;
    font-weight: bold;
    font-size: x-large;
}